@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font families */
:root {
  --font-bellota: "Bellota Text", cursive;
  --font-noto: "Noto Sans TC", sans-serif;

  /* Light mode */
  --color-primary: #c96c5e;
  --color-primary-light: #c96c5e4d;
  --color-secondary: #0b0d63;
  --color-background: #fdf0e6;
  --color-white: #ffffff;
  --color-black: #000000;

  --box-shadow: 0 3px 15px #c96c5e4d;
}

/* Dark mode */
.dark {
  --color-background: #0f114c;
  --color-primary: #9c9efb;
  --color-primary-light: #8178d4a6;
  --color-secondary: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --box-shadow: 0 3px 15px #8178d452;
}
.shadow-box {
  box-shadow: var(--box-shadow);
}

/* Font utility classes */
.font-bellota {
  font-family: var(--font-bellota);
}

.font-bold {
  font-weight: 700;
}
.font-semibold {
  font-weight: 700;
}
/* Font weight for TC */
html[lang="zh"] .font-bold {
  font-weight: 500;
}

html[lang="zh"] .font-semibold {
  font-weight: 400;
}

html[lang="zh"] .font-normal {
  font-weight: 350;
}

/* Base styles */
html,
body {
  @apply max-w-full overflow-x-hidden bg-[var(--color-background)] text-[var(--color-secondary)];
}

/* Universal reset */
* {
  @apply box-border p-0 m-0;
}

/* Link reset */
a {
  @apply no-underline text-inherit;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* select styles */
select {
  background-color: white;
  color: var(--color-primary);
  transition: background-color 0.2s, color 0.2s;
}
select:hover {
  background-color: var(--color-primary);
  color: white;
}

/* 40px color input */
.color-circle {
  @apply w-10 h-10 rounded-full cursor-pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  background: transparent;
  border: 2px solid var(--color-white);
}

/* Chrome / Edge / Safari */
.color-circle::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 9999px;
}

.color-circle::-webkit-color-swatch {
  border-radius: 9999px;
  border: none;
}

/* Firefox */
.color-circle::-moz-color-swatch {
  border-radius: 9999px;
  border: none;
}
