@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font families */
:root {
  --font-bellota: "Bellota Text", cursive;
  --font-kalam: "Kalam", cursive;
  --font-noto-tc: "Noto Sans TC", sans-serif;

  /* Light mode */
  --color-primary: #c96c5e;
  --color-primary-light: #c96c5e4d;
  --color-secondary: #0b0d63;
  --color-background: #fdf0e6;
  --color-white: #ffffff;
  --color-black: #000000;

  --box-shadow: 0 3px 15px #c96c5e4d;
}

/* Dark mode */
.dark {
  --color-background: #0f114c;
  --color-primary: #9c9efb;
  --color-primary-light: #8178d4a6;
  --color-secondary: #ffffff;
  --color-white: #ffffff;
  --color-black: #000000;
  --box-shadow: 0 3px 15px #8178d452;
}
.shadow-box {
  box-shadow: var(--box-shadow);
}

/* Font utility classes */
.font-bellota {
  font-family: var(--font-bellota);
}
.font-kalam {
  font-family: var(--font-kalam);
}
.font-noto {
  font-family: var(--font-noto-tc);
}

/* Base styles */
html,
body {
  @apply max-w-full overflow-x-hidden font-bellota bg-[var(--color-background)] text-[var(--color-secondary)];
}

/* Universal reset */
* {
  @apply box-border p-0 m-0;
}

/* Link reset */
a {
  @apply no-underline text-inherit;
}
